/* animation */
body {
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​

.group-right {
	display:block;
}

.editor-aside-right {
	padding: 1em;
	border: 1px solid #ddd;
	background: white;
	display:block;
}

.editor-aside-right input {
	width: 100%;
}

.editor-main {
	padding: 1em;
}

/* logged in user UI */
.logged-in .node-article.view-mode-full .entity-field-collection-item {
	border: 1px dotted #A1A1AD;
	padding: 1em;

}

.logged-in .node-article.view-mode-full .field-collection-view {
	padding: 1em 1em 0em 1em;
}

/* small action links */
.logged-in ul.action-links,
ul.field-collection-view-links {
	list-style: none;
	margin: 0;
	padding: 1em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

ul.field-collection-view-links {
	border: 1px dotted #A1A1AD;
	border-top: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #F3F3F5;
	padding: 1em 0.5em;
}

ul.action-links {
	clear: both;
}

.logged-in ul.action-links li,
ul.field-collection-view-links li {
	display: inline-block;
}

.logged-in ul.action-links li a,
ul.field-collection-view-links li a {
	font-size: 0.8em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #279AC4;
	color: white;
	text-decoration: none;
	padding: 1em 2em;

}

ul li.delete a {
	background: #C4554F;
	padding: 1em;
	color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
}

ul.action-links.action-links-field-collection-add {
	padding: 1em;
}

ul.action-links.action-links-field-collection-add li a {
	background: #53C1B9;
	padding: 1em 2em;
}

.node-form {
}

.fieldset-wrapper {
}

.resizable-textarea .grippie {
	background: none;
	border: none;
	border-top-width: 0;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}

.form-item {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.field-type-list-text {
	display: inline-block;
	padding: 0 1em 0 0;
}

/* Field collection */

.field-type-field-collection td .image-widget-data input.form-submit {
	background: #40b1aa;
}


.field-type-field-collection td .image-widget-data input.form-submit:hover {
	background: #52c1b8;
}

.remove,
.field-type-field-collection td input.form-submit {
	background: #b5433c;
}

.remove,
.field-type-field-collection td input.form-submit:hover {
	background: #c4544f;
}

.field-type-field-collection th {
/*	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px; */
}

tr.ief-row-form {
	color: #35353D;
}

/* Draggable tables */

a.tabledrag-handle .handle {
	background: url(../images/sort.png) no-repeat;
	height: 20px;
	margin: 0;
	padding: 1em;
	width: 20px;
}

td.field-multiple-drag {

}

td.field-multiple-drag a.tabledrag-handle {
padding-right: .5em;
padding-left: 1em;
}

/* tables */
table {
	width:100%;
	color: #45454F;
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
 /*  -webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px; */
	overflow: hidden;
}

tbody {
	border: none;
}

tr.even, tr.odd {
	border-top: solid 1px #c6c6cd;
}

tr.odd {
	background: #eaeaed;
}

tr.even {
	background: #e1e1e5;
}

td {
	padding: 1em;
}

th {
	border: none;
	padding: 0.5em;
	background: white;
	border-top: solid 20px #279AC4;
}

th label {
	padding: 1em;
}


/* Buttons */
button, html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	color: white;
	transition: background 0.5s;
  	-webkit-transition: background 0.5s;
  	background: #279AC4;
  	border: solid 0px #d8d8dd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

button, html input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover {
}


/* Forms */

fieldset {
	display: block;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0em;
	-webkit-padding-start: 0em;
	-webkit-padding-end: 0em;
	-webkit-padding-after: 0em;
	border: none;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	min-width: -webkit-min-content;
}

select {
	border: none;
	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
	padding: 0.8em;
	min-width: 15em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: white;
	background: #35353D url('../images/down-arrow.png') no-repeat right center;
}

select:focus {
	outline:none;
}

input {
	padding: 0.8em;
	border: solid 1px #d8d8dd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

input.text-full, 
textarea.text-full {
	border: 2px solid #e0e0e6;
	padding: 0.8em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	 transition: border 0.5s;
  	-webkit-transition: border 0.5s;

}

input.text-full:focus, 
textarea.text-full:focus {
	outline: none;
	border: 2px solid #279ac4;

}

/* Checkboxes and Radios */

/* Customized Checkbox and Radios */
.form-type-checkbox,
.form-type-radio {
  position: relative;
}

input.form-checkbox + label,
input.form-radio + label {
  padding-left: 20px;
  /* LTR */
  cursor: pointer;
}

/* Using "foo" to make unsupporting browsers ignore */
#foo:checked::before,
input.form-checkbox,
input.form-radio {
  opacity: 0;
  width: 20px;
  height: 20px;
}

#foo:checked,
input.form-checkbox + label::before,
input.form-radio + label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
  /* LTR */
  height: 20px;
  width: 20px;
  background: transparent url("../images/toggles.png") no-repeat 0 0;
}

#foo:checked,
.form-disabled input.form-checkbox + label::before {
  opacity: .4;
}

#foo:checked,
body.in-maintenance input.form-radio + label::before {
  top: 4px;
}

input.form-radio + label::before {
  background-position: 0 -40px;
}

#foo:checked,
input.form-checkbox:checked + label::before {
  background-position: 0 -20px;
}

input.form-radio:checked + label::before {
  background-position: 0 -60px;
}

/* Form Fixes for Webkit Browsers. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {

  form table input.form-checkbox,
  form table input.form-radio {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    opacity: 1;
    height: 20px;
    width: 20px;
    background: transparent url("../images/toggles.png") no-repeat 0 0;
  }
  form table input.form-checkbox:checked {
    background-position: 0 -20px;
  }
  form table input.form-radio {
    background-position: 0 -40px;
  }
  form table input.form-radio:checked {
    background-position: 0 -60px;
  }
  form table .form-disabled input.form-checkbox {
    opacity: .4;
  }
}

/*horizontal Tabs*/

div.horizontal-tabs {
  margin: 0 0 1em 0; /* LTR */
  padding: 0;
  border: none;
  position: relative; /* IE6/7 */
}

.horizontal-tabs ul.horizontal-tabs-list {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0px;
  position: relative; /* IE6 */
  list-style: none;
  list-style-image: none; /* IE6 */
  background-color: none;
  border-right: none;
  width: 100%;
  height: auto;
  clear: both;
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
	padding: 1em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #e0e0e6;
}

.horizontal-tabs-pane>legend {
  display: none;
}

/* Layout of each tab */
.horizontal-tabs ul.horizontal-tabs-list li {
  background-color: #8767ab;
  border-right: none;
  margin: 0;
  min-width: 7em; /* IE7 */
  float: left;
  text-align: center;
}

.horizontal-tabs ul.horizontal-tabs-list li.selected {
  	background: #77549b;

}	

.horizontal-tabs ul.horizontal-tabs-list li.selected:hover {
	opacity: 1.0;
}

.horizontal-tabs ul.horizontal-tabs-list li.first {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.horizontal-tabs ul.horizontal-tabs-list li.last {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}


.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  outline: none;
}

.horizontal-tabs ul.horizontal-tabs-list li:hover,
.horizontal-tabs ul.horizontal-tabs-list li:focus {
	outline: none;
	border:none;
	opacity: 0.7;
}

.horizontal-tabs ul.horizontal-tabs-list li a,
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
	display: block;
	text-decoration: none;
	padding: 0.8em;
	color: white;
	position:relative;
}

.horizontal-tabs ul.horizontal-tabs-list li a:focus strong,
.horizontal-tabs ul.horizontal-tabs-list li a:active strong,
.horizontal-tabs ul.horizontal-tabs-list li a:hover strong {
  text-decoration: none;
  outline: none;
  border: none;
}

.horizontal-tabs ul.horizontal-tabs-list .selected strong {
  color: white;
}
.horizontal-tabs ul.horizontal-tabs-list .summary {
  display: block;
}
.horizontal-tabs ul.horizontal-tabs ul.horizontal-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}

/**
 * tab content 
 */
div.field-group-htabs-wrapper .field-group-format-wrapper { 
  clear: both;
  padding: 0 0 0.6em;
}
/*hide*/
.horizontal-tabs .horizontal-tab-hidden {
  display: block;
  position: absolute;
  top: -100000px;
}

/*verticle tabs */

div.vertical-tabs {
  background: ;
  margin: 1em 0 1em 15em; /* LTR */
  padding: 0;
  border: 0px solid #ccc;
  position: relative; /* IE6/7 */
}

.vertical-tabs-panes {
	padding: 1em;
	margin: -1px 0 1em 1em;
	border: 2px solid #e0e0e6;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.vertical-tabs ul.vertical-tabs-list {
  width: 15em;
  list-style: none;
  list-style-image: none; /* IE6 */
  border-top: none;
  padding: 0;
  position: relative; /* IE6 */
  margin: -1px 0 -1px -15em; /* LTR */
  float: left; /* LTR */
}
.vertical-tabs fieldset.vertical-tabs-pane {
  margin: 0 !important;
  padding: 0 1em;
  border: 0;
}
fieldset.vertical-tabs-pane legend {
  display: none;
}
fieldset.vertical-tabs-pane fieldset legend {
  display: block;
}

/* Layout of each tab */
.vertical-tabs ul.vertical-tabs-list li {
  background: #45454f;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0; /* IE7 */
}

.vertical-tabs ul.vertical-tabs-list li.first {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.vertical-tabs ul.vertical-tabs-list li.last {
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.vertical-tabs ul.vertical-tabs-list li a {
	color: white;
	display: block;
	text-decoration: none;
	padding: 0.5em 0.6em;
}
.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
}

.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: none;
}
.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #35353d;
  border-right-width: 0; /* LTR */
}
.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: white;
}
.vertical-tabs ul.vertical-tabs-list .summary {
  display: block;
}
.vertical-tabs ul.vertical-tabs ul.vertical-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}

/**
 * Prevent text inputs from overflowing when container is too narrow. "width" is
 * applied to override hardcoded cols or size attributes and used in conjunction
 * with "box-sizing" to prevent box model issues from occurring in most browsers.
*/
.vertical-tabs .form-type-textfield input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* html .vertical-tabs .form-type-textfield,
* html .vertical-tabs .form-textarea-wrapper {
  width: 95%; /* IE6 */
}

ul.tabs.primary {
	border-bottom: 0px solid #bbb;
	border-collapse: collapse;
	height: auto;
	line-height: normal;
	list-style: none;
	margin: 5px;
	padding: 0 0 0 0;
	white-space: nowrap;
} 

/* Primary tabs */

ul.primary li.active a {
	background: none;
	border: 0;
	border-bottom: 5px solid #279AC4;
}

ul.primary li a {
	background-color: none;
	background: none;
	border: 0;
}


ul.primary li a:hover {
	border-bottom: 5px solid #ddd;
	background: none;
}

.action-links {
	float: right;
}

/* Page admin structure */

body.page-admin-structure #page-wrapper {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #F3F3F5;
}

