/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
}

#page-wrapper {
	padding: 2em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #F3F3F5;

}

#heading {
	padding: 2em 2em 0 2em;
}

.field-collection-item-field-article-cover-art .field-type-image {
	line-height: 0;
}

/* Article Fields */ 
.node-article.view-mode-full .field-name-title-field .field-items,
.node-article.view-mode-full .field-name-field-article-deck .field-items, 
.node-article.view-mode-full .field-name-field-article-lead .field-items {
	margin: 0 auto;
	width: 75%;
	padding: 2em 0;
}

/* Grid rules */

/** Max widths **/
.node-article.view-mode-full .field-collection-container .field-name-field-article-section {
	max-width: 1400px;
	margin: 0 auto;
}

.left {
	float: left;
	clear: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
	clear: right;
}

.center {
	clear:both;	
	width: 100%;
}

.right .padding-two {
	padding: 1em 2em;
}

.left .padding-two {
	padding: 1em 2em;
}

.right .padding-four {
	padding: 1em 4em;
}

.left .padding-four {
	padding: 1em 4em;
}

.right .padding-six {
	padding: 1em 6em;
}

.left .padding-six {
	padding: 1em 6em;
}

.full-width {
	width: 100%
}

.half-width {
	width: 50%;
}


@media all and (max-width: 1000px) {
/* Grid rules */

	.left {
		width: 100%;
		clear: both;
	}

	.right {
		width: 100%;
		clear: both;
	}

		/* Article Fields */ 
	.node-article.view-mode-full .field-name-title-field .field-items,
	.node-article.view-mode-full .field-name-field-article-deck .field-items, 
	.node-article.view-mode-full .field-name-field-article-lead .field-items {
		margin: 0 auto;
		width: 100%;
		padding: 2em 4em;
	}


}

@media all and (max-width: 600px) {
			/* Article Fields */ 
	.node-article.view-mode-full .field-name-title-field .field-items,
	.node-article.view-mode-full .field-name-field-article-deck .field-items, 
	.node-article.view-mode-full .field-name-field-article-lead .field-items {
		margin: 0 auto;
		width: 100%;
		padding: 2em 2em;
	}

	.right .padding-four {
		padding: 1em 3em;
	}

	.left .padding-four {
		padding: 1em 3em;
	}

	.right .padding-six {
		padding: 1em 4em;
	}

	.left .padding-six {
		padding: 1em 4em;
	}

}


