body {
/*	font: 16px/1.5em; */
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
  	font-weight: 300;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2em;
	font-weight: 300;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 22px; }

a, a:active {
	color: #279AC4;

}

a:hover, a:focus {
	color: #8767ab;	
}

/* Drupal */

.breadcrumb {
	font-size: 0.8em;
}

#page-wrapper {
	font-size: 0.8em;
}

label {
	font-weight: 400;
}