
/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 25em;
}
#color_scheme_form #palette .form-item label {
  width: 15em;
}

/* ---------- Preview Styles ----------- */

html.js #preview {
width:360px;

}


#preview {
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;	
}

#preview h4{
font-size: 12px;
line-height: 12px;
margin: 0px 0;

}

#preview-taskbar {
padding: 10px;
height: 30px;
background: #464650 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(70,70,80,.2) 100%); /* FF3.6+ */
		background: #464650 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(70,70,80,.2))); /* Chrome,Safari4+ */
		background: #464650 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #464650 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%); /* Opera11.10+ */
		background: #464650 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%); /* IE10+ */
		background: #464650 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%);
-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);	
box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

#preview-logo {
	float: left;
	width: 100px;
}

#preview-site-name {
	float: left;
	width: 100px;
	color: white;
	margin: 7px 7px;;
}


#preview-button {
float: right;
background: #464650; /* Old browsers */
		background: #464650 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(70,70,80,.2) 100%); /* FF3.6+ */
		background: #464650 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(70,70,80,.2))); /* Chrome,Safari4+ */
		background: #464650 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #464650 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%); /* Opera11.10+ */
		background: #464650 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%); /* IE10+ */
		background: #464650 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(70,70,80,.2) 100%); /* W3C */ border: 1px solid #36363e;border-top: 1px solid #5e5e6b;border-left: 1px solid #5e5e6b;
color: white;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(38, 38, 44, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#preview-button-hover {
float: right;
color: #f4f4f6;
		background: #0f0f11; /* Old browsers */
		background: #0f0f11 -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(70,70,80,.3) 100%); /* FF3.6+ */
		background: #0f0f11 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(70,70,80,.3))); /* Chrome,Safari4+ */
		background: #0f0f11 -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(70,70,80,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #0f0f11 -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(70,70,80,.3) 100%); /* Opera11.10+ */
		background: #0f0f11 -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(70,70,80,.3) 100%); /* IE10+ */
		background: #0f0f11 linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(70,70,80,.3) 100%); /* W3C */
	  border: 1px solid #1e1e23;
	  border-top: 1px solid #0f0f11;
	  border-left: 1px solid #0f0f11;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(38, 38, 44, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  
}



#preview-header {
background: #565662;
padding: 10px;
color: white;
-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
	
}

#preview-content {
color: #3e3e47;
padding: 10px;
	
}

#preview-content h4 {
color: #4e4e59;
	
}

#preview-content a {
color: #805ca6;
}

#preview-content a:hover {
color: #9272b2;
}

#preview-first {
background: #8967ac;
color: white;
padding: 10px;
-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
}

#preview-diptych {
background: #cb5178;
color: white;
padding: 10px;
-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
}

#preview-triptych {
background: #f58235;
color: white;
padding: 10px;
-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
}

#preview-quadtych {
background: #54c2ba;
color: white;
padding: 10px;
-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
}
