<div id="preview">

  <div id="preview-taskbar">
    <div id="preview-logo"><img src="../../../themes/artwar_editor/logo-preview.png" alt="Site Logo" /></div>
    <div id="preview-site-name">Site Name</div>
  </div>  
  
  <div id="preview-header">
  	<h4>Header</h4>
  </div>
  
  <div id="preview-content">
	<h4>Donec laoreet rutrum sapien</h4>
	<p>Nullam posuere sem eu ipsum iaculis fringilla. Nulla facilisi. Nulla tellus felis, lobortis in pretium quis, dapibus varius ligula. Donec laoreet rutrum sapien, id elementum <a href="html.html">augue faucibus nec.</a></p>  
  </div>

  <div id="preview-first">
	<h4>First</h4>
  </div>

  <div id="preview-diptych">
	<h4>Diptych</h4>
  </div>

  <div id="preview-triptych">
	<h4>Triptych</h4>
  </div>

  <div id="preview-quadtych">
	<h4>Last</h4>
  </div>
</div>

  